* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #050505;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #181616;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #1c3ca4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #218838;
}

#responseMessage {
    font-size: 1rem;
    color: #28a745;
}
